.instaRoundImages{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    box-shadow: 0 0 0 2px white,
                0 0 0 4px rgb(235, 101, 217);
}
.instaRoundImage_outerdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.instaRoundImage_innerdiv{
    display: flex;
    justify-content: center;
    margin: 14px;
    align-items: center;
    flex-direction: column;
}